<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="drg_img">
        <button type="button" onclick="uploadFile()">Upload</button>
    </form>

    <script>
        function uploadFile() {
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];

            if (file) {
                var formData = new FormData();
                formData.append('drg_img', file);

                
                fetch('/y', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error(error));
            } else {
                console.log('No file selected.');
            }
        }
    </script>
</body>
</html>
