<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
    <link rel="stylesheet" href="/stylesheets/Sign_in.css"> 
</head>
<body>
    <div class="Container">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-button">Log-In</button>
            </div>
           
            <form class="input-group">
                <h3>Please enter your credentials:</h3>
                <br>
                <label for="adminid"> ADMIN ID:</label>
                <br><br>
                <input type="text" id="adminid" name="adminid">
                <br><br>
                <label for="password">Password:</label>
                <br><br>
                <input type="password" id="password" name="password">
                <br><br>
                <button type="button" class="submit-btn" id="loginButton" href="/admin/loginadmin">Log in</button>
            </form>
        </div>
        
    </div>
</body>
</html>
